
.tableContainer {
    margin: 0 auto;
    width: 80vw;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th {
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    background-color: #1A5276;
    color: white;
}

th, td {
    border: none;
    padding: 3vh;
}

tr:nth-child(odd){
    background-color:#D6EAF8 ;
}